@import "src/assets/styles/main.global";
.header {
  background-color: $color_gold_250;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 20px;
  }
}

.buttonGroup {
  display: flex;
  min-width: 150px;
  align-items: stretch;
  flex-direction: column;
  gap: 5px;
}




