.list {
  padding-left: 20px;
  list-style: none;
}

.item {
  line-height: 1.5em;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.author {
  font-style: italic;
}

.comment {
  &:before {
    content: '— ';
  }
}

.subtitle {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: 700;
}
